[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "pdb2reaction"
description = "pdb2reaction"
readme = "README.md"
authors = [{name = "Takuto Ohmura"}]
license = {file = "LICENSE"}
dynamic = ["version"]
requires-python = ">=3.11"
dependencies = [
    "fairchem-core",
    "pysisyphus @ git+https://github.com/t-0hmura/torch_pysis.git", 
    "thermoanalysis @ git+https://github.com/t-0hmura/thermoanalysis.git",
    "torch>=2.6.0",
    "torch_geometric",
    "torch_scatter",
    "numpy",
    "biopython",
    "ase>=3.25.0",
    "pyyaml",
    "click",
    "plotly",
    "kaleido",
    "pyscf",
    "gpu4pyscf==1.5.0",
    "cupy-cuda12x==13.4.1",
    "cutensor-cu12==2.2.0",
    "basis-set-exchange==0.11"
]

[project.scripts]
pdb2reaction = "pdb2reaction.cli:cli"

[tool.setuptools.packages.find]
where = ["."]
include = ["pdb2reaction*"]

[tool.setuptools]
package-data = { "pdb2reaction" = ["py.typed"] }

[tool.setuptools.dynamic]
version = {attr = "pdb2reaction.__version__"}
