[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "uma_pysis"
description = "UMA - Pysisyphus Interface"
readme = "README.md"
authors = [{name = "Takuto Ohmura"}]
license = {file = "LICENSE"}
dynamic = ["version"]
requires-python = ">=3.11"
dependencies = [
    "fairchem-core",
    "pysisyphus", 
    "torch>=2.6.0",
    "torch_geometric",
    "torch_scatter",
    "numpy",
    "biopython",
    "ase>=3.25.0",
]

[project.scripts]
uma_pysis = "pdb2reaction.uma_pysis:run_pysis"

[tool.setuptools.packages.find]
where = ["."]
include = ["pdb2reaction*"]

[tool.setuptools]
package-data = { "pdb2reaction" = ["py.typed"] }

[tool.setuptools.dynamic]
version = {attr = "pdb2reaction.__version__"}
